<% provide(:title, "Sign In") %>

<div class="span6 offset3" >
      <div class="page-alert" id="notification" style="height:60px">
            <div class="alert alert-success" style="display:none">
                  <span></span>
                  <a class="close" onclick="$('.alert-success').hide()">×</a>

            </div>
            <div class="alert alert-error" style="display:none">
                  <span></span>
                  <a class="close" onclick="$('.alert-error').hide()">×</a>

            </div>
      </div>
      <div class="well well-shadow-large" style="border:0;background-color:white;">
            <h1 >Sign In</h1>

            <hr style="background-color:#5f5f5f;height:1px">

            <% render 'layouts/old/login_page' %>

            <% flash.each do |key,  value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>

            <div class="row-fluid" >
            <%= form_for :session, :url => sessions_path, :html => { :class => 'form-inline' }  do |f| %>

                <div class="row-fluid">
                  <div class="span4">
                    <% f.label :email %>
                    <%= f.text_field :email, :placeholder => 'Email', :class => "input" %>
                  </div>
                  <div class="span4 offset1">
                    <% f.label :password %>
                    <%= f.password_field :password, :placeholder => 'Password', :class => "input span12 offset1" %>
                  </div>

                  <div class="span1 offset1">
                      <%= f.submit "Sign in", class: "btn btn-medium btn-success" %>
                  </div>
                </div>

           

            </div>

            <hr >
            <div class="row-fluid">
                  <div class="span4">
                        <i class="iconic-question-mark" style="color: #BD362F"></i>&nbsp; <a href="/forgot_password">Forgot password</a>
                  </div>
                  <div class="span4">
                        <label class="checkbox"><input type="checkbox" name="remember_me"> Remember me</label>
                  </div>
                  <div class="span4">
                        <a href="/signup" class="btn btn-block btn-medium span5 btn-primary pull-right">Sign up</a>
                  </div>
            </div>

            <% end %>
      </div>
</div>
