<div id="iphone" class="row-fluid" >
	
		<div class="row" style="margin:10px">
			<%= link_to 'Step 1. Install profile', {},{ :href=>'FilmyFundayDistribution.mobileprovision',:class => "span12 btn btn-medium btn-primary" } %>
		</div>
		<div class="row" style="margin:10px">
			<%= link_to 'Step 2. Install application', {},{ :href=>'itms-services://?action=download-manifest&url=http://filmyfunday.herokuapp.com/FilmyFunday.plist', :class => "span12 btn btn-medium btn-primary"} %>
		</div>		
</div>