<%= render 'layouts/wide_header' %>
<div class="container" style="padding-top: 20px;width:1024px">
	<div class="row col-md-12 col-lg-12 col-sm-12">
		<div class="jumbotron" style="height:200px;background-image:url('<%= cl_image_path( @person_name+'.jpg', :height => 320, :width => 1024, :radius => 4,:class => 'img-thumbnail',:crop => :thumb , :default_image => "n_p_poster.png", :gravity => :face, :effect => { :blur => 700 } ) %>');">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<%= cl_image_tag( @person_name+'.jpg', :height => 284, :width => 180, :radius => 4,:class => 'img-thumbnail',:crop => :thumb , :default_image => "n_p_poster.png", :gravity => :face ) %>
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
				<h1 style="line-height:230px;color:whitesmoke"><%= @person_name %></h1>
			</div>
		</div>
		<div class="row" style="margin-left:0px">
			<% if @movies_acted.length > 0 %>
			<h2>Featured in</h2>
			<hr/>
			<div class="row" style="margin-left:0px">
				<% @movies_acted.each do |movie_acted| %>
				<div class="lead"><a href='/m/<%= movie_acted['id'] %>'><%= movie_acted['name'] %></a></div>
				<% end %>
			</div>
			<%end%>
		</div>
		<div class="row" style="margin-left:0px">
			<% if @movies_directed.length > 0 %>
			<h2>Directed</h2>
			<hr/>
			<div class="row" style="margin-left:0px">
				<% @movies_directed.each do |movies_directed| %>
				<div class="lead"><a href='/m/<%= movies_directed['id'] %>'><%= movies_directed['name'] %></a></div>
				<% end %>
			</div>
			<%end%>
		</div>
	</div>
</div>
