

<div class="well well-mini" style="background-color:#fff; border: 0"> 
        <h3 style="padding:0px;margin:5px">Search results for : <%= @q %></h3>
</div>

<div class="row-fluid">
    <div class="span6 row-fluid">
        <div class="row  well well-mini" style="margin-left:0px;background-color:#edeff8">
            <label>Movies</label>
        </div>
        <div class="row" style="margin-left:0px;padding:0px;background-color:#fff">
            <div class="span12">
                <ul class="nav nav-pills nav-stacked">
                    <% if @movies != nil && @movies.length > 0 %>
                            <% @movies.each do |movie| %>
                                <li class=""><a href="m/<%= movie['id'] %> " style="color: #000"><%= movie['name']  %></a></li>
                            <%end %>
                    <% else %>
                            <li class="">No results found for movies</li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="span6 row-fluid">
        <div class="row well well-mini" style="margin-left:0px;background-color:#edeff8">
            <label>Celebrities</label>
        </div>
        <div class="row" style="margin-left:0px;padding:0px;background-color:#fff">
            <div class="span12">
                <ul class="nav nav-pills nav-stacked">
                    
                    <% if @celebrities != nil && @celebrities.length > 0 %>
                        <% @celebrities.each do |celebrity| %>

                            <li class=""><a href="p/<%= celebrity['id'] %> " style="color: #000"><%= celebrity['name']  %></a></li>
                            
                        <% end %>
                    <% else %>
                            <li class="">No results found for celebrities</li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
