<%= render 'layouts/wide_header' %>
<div class="jumbotron" id="about" style="margin-bottom:0px;text-align:center;min-height:200px;height:400px;background-image: url('http://res.cloudinary.com/haaztcbpd/image/upload/c_fill,e_blur:800,h_400,w_2000/v1382830139/about-us.jpg')">
	<h1 style="font-family:'Oxygen';color: #DEFF25;font-weight: 800;">About</h1>
	<span class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " style="color: whitesmoke; font-weight: 400; letter-spacing:1px; border-radius:5px;padding:10px;">
		<p style="font-family:'Oxygen';font-size: 18px;text-align:center"> 
			Tired of browsing newspapers and social networking sites to find out about a movie? Tired of waiting for friends to watch it and give you a movie review?
		</p>
		<p style="font-family:'Oxygen';font-size: 18px;text-align: center">
			With FilmyFunday you will be able to know how the movie is from just one look! Based on reviews from the famous Bollywood critics, users and your very own friends, FilmyFunday has it all compiled in one place! Not only that, you can find showtimes, watch trailers, track your watch-list and add your own ratings. Our aim is to create an elegant, reliable database for Bollywood movies and celebrity info. With color codes, you can find out about the movie just from a glance. 
		</p>
		<a href="/" class="btn btn-primary">Start exploring</a>
	</span>
</div>
<div class="jumbotron" id="apps" style=" border-top-style: dotted;border-top-width:2px;border-top-color: gray;margin-bottom:0px;text-align:center;height:600px;background-image: url('http://res.cloudinary.com/haaztcbpd/image/upload/c_fill,g_west,h_800,w_2000/v1382943745/apps.jpg')">
	<h1 style="font-family:'Oxygen';color: #DE7025;font-weight: 800;">Apps</h1>
	<span class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="color: whitesmoke; font-weight: 400; letter-spacing:1px; border-radius:5px;padding:10px;">
		<div class="row" style="text-align: justify">
			<span class="col-lg-2 col-md-2 col-sm-2">
				<div class="device-apple"></div>
			</span>
			<span class="col-lg-10 col-md-10 col-sm-10 text-center">
				<h3 class="hidden-xs" style="text-align:justify; font-size:40px;font-weight: 100;">iOS</h3>
				<p style="font-family:'Oxygen';font-size: 18px;text-align:justify">
					<ul class="list-unstyled text-left hidden-xs" style="font-size : 18px">
						<li>Coming soon on App Store</li>
						<li>Works seamlessly with iPhone 4, iPhone 5, iPhone 5S and iPod Touch</li>
					</ul>
				</p>
				<a href="" class="btn btn-success disabled" disabled>Download from App Store</a>
			</span>
		</div>
		<div class="row" style="text-align: justify">
			<span class="col-lg-2 col-md-2 col-sm-2">

			</span>
			<span class="col-lg-10 col-md-10 col-sm-10 text-center">
				<h3 class="hidden-xs" style="text-align:justify; font-size:40px;font-weight: 100;">Android</h3>
				<p style="font-family:'Oxygen';font-size: 18px;text-align:justify"> 
					<ul  class="list-unstyled text-left hidden-xs" style="font-size : 18px">
						<li>Coming soon on Google Play Store</li>
					</ul>
				</p>
				<a href="" class="btn btn-success disabled " disabled>Download from Google Play</a>
			</span>
		</div>
	</span>
</div>

<div class="jumbotron" id="support" style=" border-top-style: dotted;border-top-width:2px;border-top-color: gray;margin-bottom:0px;min-height:200px;height:600px;background-image: url('http://res.cloudinary.com/haaztcbpd/image/upload/b_rgb:040303,c_fill,e_blur:400,g_north_east,h_600,w_2000/a_0/v1382940209/contact.jpg')">
	<h1 style="color: black; text-align: center">Contact Us</h1>
	<span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3" >
		<form class="form-horizontal" role="form">
			<div class="form-group has-success">
				<div class="col-lg-12">
					<label class="control-label hidden-sm hidden-xs hidden-md hidden-lg" for="inputSuccess">Input with success</label>
					<input type="email" class="form-control" id="inputEmail1" placeholder="Email(required)">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-12">
					<textarea class="form-control" rows="3" placeholder="What you wanna say...(required)"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2  col-sm-offset-10 col-sm-2">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</span>
</div>
