<% provide(:title, "Forgot Password") %>

<div class="span6 offset3" >
      	<div class="page-alert" id="notification" style="height:60px">
        	<div class="alert alert-success" style="display:none">
                  	<span></span>
                  	<a class="close" onclick="$('.alert-success').hide()">×</a>

        	</div>
            	<div class="alert alert-error" style="display:none">
                  	<span></span>
                  	<a class="close" onclick="$('.alert-error').hide()">×</a>

            	</div>
      	</div>
      	<div class="well well-shadow-large" style="border:0;background-color:white;">
            	<h1 >Forgot Password</h1>

            	<hr style="background-color:#5f5f5f;height:1px">

	        <div class="row-fluid" >
	            
			<form class="form-horizontal" id="passwordResetInformation"   >
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				<div class="row-fluid">
					<div class="span8">
				        	<div class="control-group" style="padding-right:15px;margin-bottom: 5px;">
				        		<div class="controls span-without-left-margin">
				            			<input type="text" id="inputForgotPasswordEmail" class="span12" name="forgotPasswordEmail" placeholder="email address" required />
				          		</div>
				        	</div>
				      	</div>

			      		<div class="span4">
			        		<div class="span3 offset1">
			            				<%= cl_image_tag("loading.gif", :width => 27, :id => 'sendingEmailBusyLogo', :height=>27 ,:crop => :scale, :gravity => :north , :style => 'display:none') %>
			          		</div>
			          		<div class="span8">
			            			<button type="submit" class="btn btn-success btn-small" >Send email</button>
			          		</div>
			      		</div>
			    	</div>
			</form>
	      	</div>
	</div>
</div>
