<!-- <div style="padding-top: 20px;background-image: url('http://res.cloudinary.com/haaztcbpd/image/upload/b_rgb:e5c76f,c_scale,e_blur:792,o_100,w_1920/v1381557505/background-web.jpg');"> -->
<%= render 'layouts/wide_header' %>

<div style="padding-top: 20px;">
	<div class="container" >
		<div class="col-lg-2 col-md-2 col-sm-2 hidden-sm hidden-xs" style="padding: 0px 0px 0px 0px">
			<%= render 'layouts/v3_menu_panel' %>
			<% render 'layouts/v3_movie_report_concise' %>
		</div>		

		<div class="tab-content">
			<div class="tab-pane active col-lg-10 col-md-10" id="recents">
				<%= render 'layouts/v3_opening_next_week_movie_list' %>
				<%= render 'layouts/v3_now_playing_movie_list' %>
				<%= render 'layouts/v3_upcoming_movie_list' %>
			</div>
			<div class="tab-pane col-lg-10 col-md-10 fade" id="browse">
				<%= render 'layouts/v3_browse' %>
			</div>
		</div>
	</div>
</div>


