<%= render 'layouts/wide_header' %>
<%

@user_average_rating = 0
@critic_average_rating = 0
@my_review = nil
@my_rating = nil

if @ratings != nil && @ratings[@movie_details['id'].to_s]
	@user_average_rating =  @ratings[@movie_details['id'].to_s]['user']['rating'].round(2)
	@critic_average_rating =  @ratings[@movie_details['id'].to_s]['critic']['rating'].round(2)
	if logged_in?
		  @my_review =  @ratings[@movie_details['id'].to_s]['user']['me']
		  @my_rating =  @ratings[@movie_details['id'].to_s]['user']['me']['rating']
	end
end 

%>

<%= render 'layouts/v3_movie_home' %>
<%= render 'layouts/footer' %>