<% provide(:title, "Forgot Password") %>

<div class="span6 offset3" id="resetPasswordDiv">
      	<div class="page-alert" id="notification" style="height:60px">
        	<div class="alert alert-success" style="display:none">
                  	<span></span>
                  	<a class="close" onclick="$('.alert-success').hide()">×</a>

        	</div>
            	<div class="alert alert-error" style="display:none">
                  	<span></span>
                  	<a class="close" onclick="$('.alert-error').hide()">×</a>

            	</div>
      	</div>
      	<div class="well well-shadow-large" style="border:0;background-color:white;">
            	<h1 >Reset Password</h1>

            	<hr style="background-color:#5f5f5f;height:1px">

	        <form class="form-horizontal" id="resetPassword" >
			<div class="row-fluid">
				<div class="span10">
					<input type="hidden"  name="resetKey" value="<%= @hash %>">
					<input type="password" id="inputNewPassword" class="span6" name="newPassword" placeholder="New Password" required="true">
					<input type="password" id="inputConfirmPassword" class="span6" name="confirmPassword" placeholder="Confirm Password" required="true">
				</div>

				<div class="span2">
					<div class="span2">
			            		<%= cl_image_tag("loading.gif", :width => 27, :id => 'resettingPasswordActivityIndicator', :height=>27 ,:crop => :fill, :gravity => :north , :style => 'display:none') %>
			          	</div>
		          		<div class="span8">
		            			<button type="submit" class="btn btn-success btn-medium" style="margin:0px">Reset</button>
		          		</div>
				</div>
			</div>
		</form>
	</div>
</div>



