<div class="container" style="margin-top: 20px">
	<div class="row" >
		<div class="col-md-3 col-lg-3 col-sm-3">
			<div class="list-group col-md-12 col-lg-12" id="sidebar" style="margin-top: 0px;">
				<a href="#email_preferences" class="list-group-item">Email preferences</a>
				<% if @my_watchlist.count > 0 %>
				<a href="#watchlist" class="list-group-item">Watchlist</a>
				<% end %>
			</div>
		</div>
		<div class="well well-mini col-md-9 col-lg-9 col-sm-9" style="padding:0px; background-color: #F2F2F2;border: 0px solid #e3e3e3;" >
			<%= render 'layouts/v3_email_preferences' %>
			<% if  @my_watchlist && @my_watchlist.count > 0 %>
	            		<%= render 'layouts/v3_watchlist' %>
	            	<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#sidebar').affix({
      offset: {
        top: $('#site-header').height()
      }
});	
</script>
