<% provide(:title, "Sign up") %>

<div class="span6 offset3" >
      <div class="page-alert" id="notification" style="height:60px">
            <div class="alert alert-success" style="display:none">
            	<span></span>
            	<a class="close" onclick="$('.alert-success').hide()">×</a>
            	
            </div>
            <div class="alert alert-error" style="display:none">
            	<span></span>
            	<a class="close" onclick="$('.alert-error').hide()">×</a>

            </div>
      </div>
      <div class="well well-shadow-large" style="border:0;background-color:white;">
	     <h1 >Sign up</h1>
           <hr style="background-color:#5f5f5f;height:1px">
	     <%= render 'layouts/old/register_page' %>
	     <hr >
      </div>
</div>
