	@font-face {
		font-family:"LogoFont";
		src:url("BTTTRIAL.eot?") format("eot"),url("BTTTRIAL.woff") format("woff"),url("BTTTRIAL.ttf") format("truetype"),url("BTTTRIAL.svg#brush-tipTerrence") format("svg");
		font-weight:normal;
		font-style:normal;
	}
	body {
		background-color: #F2F2F2;
		font-weight: 200;
		font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size:14px;
		line-height: 1.86;
	}


	.well {
		background-color: whitesmoke;
		border: 1px solid #ccc
	}

	
	.nounderline{
		text-decoration: none !important;
	}

	.dropdown-submenu:focus > a > [class*=" icon-"] {
  		//background-image: url("http://res.cloudinary.com/haaztcbpd/image/upload/v1365194056/glyphicons_halflings_white_fuovyi.png");
	}

	.review-source{
		font-family: 'Cardo', serif;
	}

	.carousel-control.right{
		left : auto;
		right: -60px;
	}

	.carousel-control{
		left : -50px;
	}

	.carousel-indicators {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 5;
		margin: 0;
		list-style: none;
	}
	.carousel-indicators li {
		display: block;
		float: left;
		width: 10px;
		height: 10px;
		margin-left: 5px;
		text-indent: -999px;
		background-color: #ccc;
		background-color: rgba(255, 255, 255, 0.25);
		border-radius: 5px;
	}
	.carousel-indicators .active {
		background-color: #fff;
	}

	.thumbnail > p {
		display: block;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#postReviewPositiveFeedback{
		display: none;
	}

	#postReviewNegativeFeedback{
		display: none;
	}
	
	.span-without-left-margin {
		margin-left:0px
	}

	.no-top-bottom-padding {
		padding-top:0px;
		padding-bottom:0px
	}

	.no-top-bottom-margin {
		margin-top: 0px;
		margin-bottom: 0px
	}
	.row-without-left-margin {
		margin-left: 0px
	}

	.thumbnails-no-left-margin > li {
		margin-left: 0px;
		margin-bottom: 0px
	}
	.overlay {
	    position:absolute;
	    left:0;
	    color: #fff;
	    right:0;
	    bottom:5px;
	    text-align: justify;
	    background:rgba(0, 0, 0, 0.75);

	}

	.well-shadow-large {
		box-shadow: 0px 0px 32px;
	}

	.well-shadow-medium {
		box-shadow: 0px 0px 24px;
	}

	.well-shadow-small {
		box-shadow: 0px 0px 16px;
	}

	.well-shadow-mini {
		box-shadow: 0px 0px 8px;
	}

	.well-shadow-danger {
		color:#dd514b;
	}

	.well-shadow-warning {
		color:#f9a732;
	}

	.well-shadow-success {
		color:#5bb65b;
	}

	.well-shadow-info {
		color:#49afcd;
	}

	.well-shadow-default {
		color:#888888;
	}

	.short-gap {
		margin: 0px 0;
	}
	.well-mini {
		padding:5px;
	}
	table td {
		cursor: default;
	}

	.blues-on-hover{
		background-color: #fff;
	}

	.blues-on-hover:hover .device-apple{
		background-position: 0px -52px;
		
	}

	.blues-on-hover:hover .device-android{
		background-position: -45px -52px;
	}

	.blues-on-hover:hover{
		background-color: #0088cc;
		color: whitesmoke;
	}

	.ratings_table{
		margin-left:5px;
	}

	.ratings_table td {
		border:0;
		height:16px;
		padding:3px;
	}

	.movie-poster-holder:last-child {
		margin-right:0px;
	}

	.movie-poster-holder:not(:last-child) {
		margin-right:23px;
		margin-left:0px
	}

	.dl-horizontal {
		margin-top:5px;
		margin-bottom:0px;
	}

	.activeAccordion {
		color: black;
		background-color: #edeff8;
		text-decoration:none;
	}

	.activeAccordion:hover {
		color: black;
	}

	.accordion-inner {
		background-color: white;
		
	}

	.accordion {
		color: black;
		background-color: whitesmoke;
	}


	.review-accordion {
		color: black;
		background-color: #fff;
	}

	.accordion-heading:hover {
		
		background-color: #edeff8;
		text-decoration:none;
	}

	.accordion-toggle:hover {
		
		text-decoration:none;
	}


	.review-accordion-heading:hover {
		background-color: rgb(244,244,244);
		text-decoration:none;
	}

	.review-accordion-group {
		color: black;
	}

	.review-accordion:hover {
		text-decoration:none;
	}

	.review-activeAccordion {
		text-decoration:none;
	}

	.review-activeAccordion .review-accordion-heading-title{
		text-decoration:none;
		padding-left: 0px		
	}

	.review-accordion-heading-title{ 
		margin:3px 0px 0px 15px; 
		padding-left:50px; 
		z-index:-1;
		background-image:linear-gradient(to bottom, #DB4D4D, #993636);
		background-image:-webkit-linear-gradient(top, #DB4D4D, #993636);

		color: white
	}

	.review-activeAccordion:hover {
		color: black;
	}

	.detailed-review-box {
		margin-top: -2px;
		margin-left:100px;
		margin-bottom: 0px;
		padding:10px;
	}

	.more-about-movie {
		background-color: whitesmoke;
	}

	.dropdown-menu:after {
    		border: none !important;
	}

	.navbar-inner {
		background-image:linear-gradient(to bottom, #ffffff, #f2f2f2);
	}

/* Version 3 */
	.poster-image-container {
		position:relative;
		display:inline-block;
		padding-left: 0px;
		margin-left: 0px;
	}

	.navbar-stylish-brand {
		margin:5px;
		font-family:'Roboto';
		font-size:16px;
		line-height:18px;
		color: white;
		padding:0px;
		margin: 15px
	}

	.navbar-filmyfunday {
		color : #111;
		z-index: 1001;
	}

	.dropdown-toggle-filmyfunday {
		color: white
	}
	.account-holder-name {
		text-shadow: none;
		color: #ffffff;
	}
	
	.viewer-review-profile-picture {
		position: relative;
		padding:4px 0px 0;
		z-index:1
	}

	.label {
		font-weight: normal;
		padding: 3px
	}

	.row .poster-image-overlay {
		position:absolute;
		background-color:#1e1e1e;
		padding-left: 5px;
		padding-right: 0px;
		margin-left: 0px;
	}

	.gradient{
	        /* webkit example */
	        background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(0, 0, 0, 1.0)), to(rgba(0, 0, 0, 0)));

	        /* mozilla example - FF3.6+ */
	        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1.0) 95% );

	        /* IE 5.5 - 7 */
	        filter: progid:DXImageTransform.Microsoft.gradient(
	          gradientType=1, startColor=0, endColorStr=#FFFFFF
	        );

	        /* IE8 uses -ms-filter for whatever reason... */
	        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
	          gradientType=1, startColor=0, endColoStr=#FFFFFF
	        );
    	}

	.rating{
		unicode-bidi:bidi-override;
		direction:rtl;
		font-size:14px;
	}

	.rating span.star{
		font-family:FontAwesome;
		font-weight:normal;
		font-style:normal;
		display:inline-block;
	}

	.rating span.star:hover{
		cursor:pointer;
	}

	.rating span.star:before{
		content:"\f006";
		padding-right:0px;
		color:#999999;
	}
	
	.rating span.star:hover:before,.rating span.star:hover~span.star:before{
		content:"\f005";
		color:#ff0000;
	}

	.rating span.read-only:before, .rating span.read-only~span.star:before{
		content:"\f005";
		color:#ff0000;	
	}
	.rating span.read-only:hover, .rating span.read-only:before{
		cursor:auto;
	}

	.twitter-typeahead {
		padding-left: 0px;
		padding-right: 0px;
		width : 100%;
	}
	
	.twitter-typeahead .tt-hint{
		display: block;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		border: 1px solid transparent;
		border-radius:4px;
		color: #AAA;
	}

	.tt-dropdown-menu {
		min-width: 400px;
		margin-top: 2px;
		padding: 5px 0;
		background-color: #fff;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.2);
		*border-right-width: 2px;
		*border-bottom-width: 2px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
		-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		box-shadow: 0 5px 10px rgba(0,0,0,.2);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}

	.tt-suggestion {
		display: block;
		padding: 3px 10px;
	}

	.tt-suggestion.tt-is-under-cursor {
		background-color: #5CB85C;
		background-image: -moz-linear-gradient(top, #3ad1c4, #3ad1c4); // Mozilla
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5CB85C), to(#5CB85C));
		background-image: -webkit-linear-gradient(top, #0064b4, #0084b4); // Safari
		background-image: -o-linear-gradient(top, #5CB85C, #5CB85C);
		background-image: linear-gradient(to bottom, #5CB85C, #5CB85C); // Chrome
		background-repeat: repeat-x;
		margin-left: -5px;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3eeaf', endColorstr='#5CB85C', GradientType=0)
	}

	.tt-suggestion {
		background-color: #fff;
		margin-left: -5px;
	}

	div[class^="tt-dataset-"],
	div[class*=" tt-dataset-"] {
		padding: 0px 0px 0px 5px;
  		text-transform: capitalize;
  		background-color: #2E2E2E;
  		letter-spacing: 1px;
  		color: whitesmoke;
	}

	.suggested-item-title :hover{
		color: white;
	}

	div[class^="tt-suggestion"],
	div[class*=" tt-suggestion"] {
		padding-left: 5px;
	}

	.ff-suggestion-body{
		line-height:40px;
		vertical-align: middle;
	}

	.ff-suggestion a{
		text-decoration: none;
	 	color: black;
	}

	.tt-is-under-cursor .ff-suggestion a{
		text-decoration: none;
	 	color: white;
	}

	.tt-suggestion p {
		margin: 0px;
	}

	.movie-page-description-box {
		background-color:rgba(40,40,40,0.8);
		padding:5px 5px 3px 5px;
		margin-left: 15px;
		border-radius: 4px;
	}

	.movie-page-description-box p{
		text-align:justify;
		color:whitesmoke;
		padding-top:0px;
		font-size:12px;
		letter-spacing:1px;
		margin-bottom: 5px;
	}

	.media-heading {
		font-weight:400;
	}

	.popover-content {
		padding-left: 15px;
		padding-right: 15px
	}

	.form-failure-alert {
		text-align:center;
		width: 400px;
		position:fixed;
		z-index:2000;
		top:10%;
		left:50%;
		margin-left:-200px		
	}

	.form-success-alert{
		text-align:center;
		width: 800px;
		position:fixed;
		z-index:2000;
		top:10%;
		left:50%;
		margin-left:-400px
	}
	/* small screen resolution */
	@media (min-width: 960px) and (max-width: 1279px)  {
		.movie-page-poster-sm {
			padding-left: 15px;
			padding-right: 15px;
			width: 210px;
		}
		.movie-page-description-box-sm {
			padding-left: 15px;
			padding-right: 15px
		}
		.jumbotron-buttons-sm {
			font-size: 75%;
		}
		.hidden-sm {
    			display: none !important;
  		}
  		.poster-image-overlay-sm {
			width:180px;
			margin-left: 15px
		}
		.poster-overlay-rating-lg {
			left : 15px;
		}
		#sidebar.affix-top {
			position: static;
			margin-top:25px;
		}

		#sidebar.affix {
			position: fixed;
			top: 25px;
			width: 205px
		}
		h2 {
			font-size: 100%;
		}
	}

	/* Medium screen resolution */
	@media (min-width: 1280px) and (max-width: 1505px) {
		.movie-page-poster-md {
			padding-left: 15px;
			padding-right: 15px;
			width: 210px;
		}
		.movie-page-description-box-md {
			padding-left: 15px;
			padding-right: 0px
		}
		.jumbotron-buttons-md {
			font-size: 75%;
		}
		.poster-image-overlay-md {
			width:195px;
			padding-left: 0px;
			margin-left: 0px
		}
		.poster-overlay-rating-md {
			left: 15px
		}
		#sidebar.affix-top {
			position: static;
			margin-top:25px;
		}

		.showtimes-table {
			max-width: 336px
		}

		#sidebar.affix {
			position: fixed;
			top: 25px;
			width: 283px
		}

		h2 {
			font-size: 100%;
		}
		
	}

	/* Large screen resolution */
	@media (min-width: 1506px)  {
		.poster-overlay-rating-lg{
			left: 15px
		}
		.jumbotron-buttons-lg {
			font-size: 75%;
		}
		.poster-image-overlay-lg {
			width:170px;
			margin-left: 15px;
		}
		.modal-theater{
			width: 800px
		}
		#sidebar.affix-top {
			position: static;
			margin-top:25px;
		}

		#sidebar.affix {
			position: fixed;
			top: 25px;
			width: 347px
		}
		.movie-page-description-box-lg {
			padding-left: 15px;
			padding-right: 0px;
			margin: 0px
		}
		.showtimes-table {
			max-width: 422px
		}
		h2 {
			font-size: 100%;
		}		
	}

	.social {
		position: absolute;
		left : 15px;
		bottom : 120px;
		width: 50px
	}

	[class^="device-"],[class*=" device-"] {
		background-repeat: no-repeat;
		background-image: url("http://res.cloudinary.com/haaztcbpd/image/upload/c_scale,w_200/v1370335658/theSprites3.png");
		border: 0px;
	}

	[class^="sprite-"],[class*=" sprite-"] {
		background-repeat: no-repeat;
		background-image: url("http://res.cloudinary.com/haaztcbpd/image/upload/v1383503636/sprite-8.png");
		border: 0px;
	}


	.device-apple{
		width: 100px;
		height:113px;
		background-position: 0px -113px;
	}

	.sprite-logo{
		width: 200px;
		height: 50px;
		background-position: 5px -112px;
	}

	.sprite-media-facebook{
		width: 40px;
		height: 37px;
		margin: 0px;
		background-position: 0px 0px;
	}

	.sprite-media-google-plus{
		width: 40px;
		height: 35px;
		margin: 0px;
		background-position: 0px -78px;
	}

	.sprite-media-twitter{
		width: 40px;
		height: 35px;
		margin: 0px;
		background-position: 0px -39px;
	}

	.affix,.affix-top {
		position:static;
	}

	.nav-btn:hover{
		color: black;
	}

	.nav > li > a.square-edges {
		border-radius: 0px;
	}
/*	
	#navlist{position:relative;}
	#navlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
	#navlist li, #navlist a{height:50px;display:block;}

	#yellow{left:0px;width:50px;}
	#yellow{background:url('http://res.cloudinary.com/haaztcbpd/image/upload/c_scale,w_50/v1379916247/sprite.png') 0 0px;}

	#green{left:60px;width:50px;}
	#green{background:url('http://res.cloudinary.com/haaztcbpd/image/upload/c_scale,w_50/v1379916247/sprite.png') 0px 50px;}

	#red{left:102px;width:50px;}
	#red{background:url('http://res.cloudinary.com/haaztcbpd/image/upload/c_scale,w_50/v1379916247/sprite.png') 0 100px;}
*/