<div class="footer" style="margin-top:120px;color: white; height:80px; background-color: black; border-top-style: solid;border-top-width:5px;border-top-color: green;">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" >
		<div class="row" style="margin-top: 25px">
			<p class="text-muted credit">Copyright © 2013 FilmyFunday
				<a href="/" class="btn btn-link">Home</a>
				<a href="/about#us"  class="btn btn-link">About</a>
				<a  class="btn btn-link" href="/about#apss">Apps</a>
				<a  class="btn btn-link" href="/about#contact">Contact us</a>
			</p>
		</div>
		
	</div>
</div>