<div class="social" style="border-width: 0px;background-color: transparent;position:fixed;z-index:1100">
	<div class="row sprite-media-facebook" id="social_plugin_facebook" style="cursor: pointer; opacity: 0.8;">

	</div>
	<div class="row sprite-media-twitter hidden-sm hidden-xs hidden-md hidden-lg" id="social_plugin_twitter" style="margin-top: 7px;  cursor: pointer">

	</div>

	<div class="row sprite-media-google-plus hidden-sm hidden-xs hidden-md hidden-lg"  id="social_plugin_google_plus" style="margin-top: 7px; cursor: pointer">

	</div>
</div>

<script type="text/javascript">

	$('#social_plugin_google_plus').popover({
		html: true,
		placement: 'right',
		content: '<%= escape_javascript(render "layouts/social_plugin_google_plus") %>'

	}).on('show.bs.popover', function () {
  		// do something…
  		$('#social_plugin_facebook').popover('hide');
  		$('#social_plugin_twitter').popover('hide');
	});

	$('#social_plugin_facebook').popover({
		html: true,
		placement: 'right',
		content: '<%= escape_javascript(render "layouts/social_plugin_facebook") %>'

	}).on('show.bs.popover', function () {
  		// do something…
  		$('#social_plugin_google_plus').popover('hide');
  		$('#social_plugin_twitter').popover('hide');
	});

	$('#social_plugin_twitter').popover({
		html: true,
		placement: 'right',
		content: '<%= escape_javascript(render "layouts/social_plugin_twitter") %>'

	}).on('show.bs.popover', function () {
  		// do something…
  		$('#social_plugin_facebook').popover('hide');
  		$('#social_plugin_google_plus').popover('hide');
	});
</script>