<div id="social_plugin_facebook" style="width: 100px;">
	<div class="row" style="margin-left: -10px;padding: 4px">
		<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffilmyfunday.herokuapp.com&amp;width&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=false&amp;appId=510183792369210" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
	</div>
	<div class="row" style="margin-left: -10px;padding: 4px">
		<a href="http://www.facebook.com/FilmyFunday" target="_blank" class="btn btn-block btn-sm btn-primary">Facebook page</a>
	</div>
</div>