<div class="tab-pane fade" id="critic_review">
	<%  if  @critic_reviews.length > 0 %>
		<% @critic_reviews.each do |critic_review| %>
		<div class="media" >

			<a class="pull-left" href="#">
				<% critic_pic = critic_review['critic_name'].downcase.gsub(/\s+/, "") %>

	                        <%= cl_image_tag( critic_pic+".jpg", :height => 50, :width=> 50, :crop => :fill, :gravity => :face, :class => 'media-object img-rounded', :default_image => 'no-critic-pic.png' ) %>
			</a>
			<div class="media-body panel-body" style="background-color: white;border: 1px solid #FEDFDF;border-radius: 5px;padding-bottom:0px">
				<h4 class="media-heading"><%= critic_review['critic_name'] %>
				<small> 
					<% 
					 fs = critic_review['rating'] 
					      @number_of_full_stars = fs.floor
					 %>
					 <% @half_star_exists = (((critic_review['rating'].to_f/0.5) % 2) == 1) %>
					 <%= render 'layouts/v3_readonly_rating_stars' %>
				</small>
				</h4>
				<% if critic_review['review'] && critic_review['review'].length > 0  %>
				 <p style="font-size:13px;font-weight: 400;">
				 	"<%= critic_review['review'] %>"
				 </p>
				 <p class="text-right">
				 	<i style="font-size:11px">-Read more </i>
					<a href="<%= critic_review['source_url'] %>" style="font-size:12px"><%= critic_review['source_name'] %></a>
				</p>
				<% end %>
			</div>
		</div>
		<% end %>
		<div class="row" style="text-align:center;margin-top:20px">
			<a href="#" load-data-type="critic_review" next-page="<%= @critic_review_next %>" movie-id="<%= @movie_details['id'] %>" class="btn btn-md btn-info loader" id="load_more_critic_review"><i class=""></i><span> Load more</span></a>
		</div>
	<% else %>
	<div class="jumbotron" style="margin-top:5px">
	      <p style="text-align:center"><small>Critic reviews not yet available.</small></p>
	</div>
	<% end %>
</div>