<div class="modal fade" id="theater" tabindex="-1" role="dialog" aria-labelledby="theaterMode" aria-hidden="true">
	<div class="modal-dialog modal-theater" >
		<div class="modal-content" style="width:800px;height:450px;" >
			<iframe height="450" width="800" src="<%= @movie_details['trailer_url'] %>&showinfo=0&branding=0&hd=1" frameborder="0" ></iframe>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
