<% if logged_in? %>
<div class="panel panel-stylish" style="border:0px">
	<div class="panel-heading">
		<h3 class="panel-title">Watchlisted by</h3>
	</div>
	<div class="panel-body" style="padding:2px;margin-top:0px">
		<% if @want_to_watch && @want_to_watch.count > 0%>
			<% @want_to_watch.each do |friend| %>
			<div class="row" style="margin: 4px 0px 4px 0px">
				<div class="col-lg-2 col-md-2" >
					<% url = "http://graph.facebook.com/"+friend['fb_id'].to_s+"/picture" %>
					<img class="img-circle" height="40" width="40" src="<%= url %>" >
				</div>
				<div class="col-lg-9 col-md-10" style="font-size:16px;line-height:2.5;padding-left: 6px">
					<%= friend['fname']+' '+ friend['lname'] %>
				</div>
			</div>
			<% end %>
		<% else %>
		<div class="row">
			<p style="text-align:center"> None of your friends watchlisted this movie.</p>
		</div>				
		<% end %>
	</div>
		<table class="table">

		</table>
</div>

<% else %>
<div class="panel panel-stylish" style="border:0px">
	<div class="panel-heading">
		<h3 class="panel-title">Watchlisted by</h3>
	</div>
	<div class="panel-body" style="padding-top:6px;padding-bottom:6px;text-align:justify">
		<a href="#" class="btn btn-link btn-xs" style="padding:0px" onclick = "tryFBlogin(FBLoginComplete, this)">Log in through Facebook </a>
		and find friends who want to watch this movie.
	</div>
</div>

<% end %>

