<nav class="navbar navbar-default" role="navigation" style="background-color: white; min-height: 40px; height: 40px; padding: 2px" >

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-left: 0px">

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-width: 0px">
    					Sort by <strong>Release date</strong> <span class="caret" style="margin-left: 3px;"></span>
  				</button>
				
				<ul class="dropdown-menu" style="width: 176px">
					<li><a href="#">Release date</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
	<%= render 'layouts/v3_released' %>
</nav>