
<div class="panel" id="released" >

	<div class="panel-body" style="background-color: #F2F2F2;  padding: 0px;margin-top:5px">
	<% rows = 5 %>
	<% columns = 6 %>
	<% (1..columns).each do |column| %>
		<% offset = column - 1 %>
		<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"  style="padding-left:2px;padding-right:2px">
		<% while (@new_releases[offset] != nil && offset < @new_releases.count && (offset/columns) < rows)%>
		
		<a href="/m/<%= @new_releases[offset]['id'] %>" >
			<div class="row" style="margin-top:3px">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="thumbnail" style="padding:0px;background-color: #1e1e1e; ">
						<%= cl_image_tag( @new_releases[offset]['poster_url']+ '.jpg', :height => 350, :width => 250,:class => "img-responsive", :crop => :fill,  :default_image => "no_poster.png",  :style => "padding-left: 0px;padding-right: 0px;") %>
						<div class="caption">
							<small style=" color: whitesmoke; font-family: 'Roboto'"><%= truncate(@new_releases[offset]['name'], :length => 20) %></small>
						</div>
					</div>
				</div>
			</div>
		</a>

		<% offset += columns  %>

		<% end %>			
		</div>
	<% end %>
	</div>
</div>