
<div class="panel" id="upcoming" style="border:0px;margin-bottom:0px">
	<div class="panel-heading" style="background-color:white;border-bottom-width:1px;border-color: rgb(231, 231, 231);">
		<h2 class="panel-title" style="color: #3C3C3C;font-family:'Roboto'">Upcoming</h2>
	</div>
	<div class="panel-body" style="background-color: #F2F2F2; padding-left: 0px; padding-right: 0px;padding-top:4px">
	<% rows = 1 %>
	<% columns = 6 %>
	<% (0..columns).each do |column| %>
		<% offset = column %>
		<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"  style="padding-left:2px;padding-right:2px">
		<% while (@upcoming_releases[offset] != nil && offset < @upcoming_releases.count && (offset/columns) < rows)%>
		
		<a href="/m/<%= @upcoming_releases[offset]['id'] %>" >
			<div class="row" style="margin-top:3px">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="thumbnail" style="padding:0px;background-color: #1e1e1e; ">
						<%= cl_image_tag( @upcoming_releases[offset]['poster_url']+ '.jpg', :height => 350, :width => 250,:class => "img-responsive", :crop => :fill,  :default_image => "no_poster.png",  :style => "padding-left: 0px;padding-right: 0px;") %>
						<div class="caption">
							<small style=" color: whitesmoke; font-family: 'Roboto'"><%= truncate(@upcoming_releases[offset]['name'], :length => 20) %></small>
						</div>
					</div>
				</div>
			</div>
		</a>

		<% offset += (columns + 1) %>
		<% end %>			
		</div>
	<% end %>
	</div>
</div>