<div class="modal fade" id="moreMovieDescription" tabindex="-1" role="dialog" aria-labelledby="moreMovieDescriptionLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><%= @movie_details['name'] %></h4>
			</div>
			<div class="modal-body">
				<%= @movie_details['synopsis'] %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->