<div class="panel" id="now_playing" style="border:0px;margin-bottom:0px">
	<div class="panel-heading" style="background-color: white;border-bottom-width:1px;border-color: rgb(231, 231, 231);">
		<h2 class="panel-title" style="color: #3C3C3C;font-family:'Roboto'">Now playing</h2>
	</div>
	<div class="panel-body" style="background-color: #F2F2F2; padding-left: 0px; padding-right: 0px;padding-top:4px">
	<% rows = 8 %>
	<% columns = 6 %>
	<% (0..(columns-1)).each do |column| %>
		<% offset = column %>
		<div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"  id="released_<%= column %>" style="padding:2px">
		<% while (@now_playing[offset] != nil && offset < @now_playing.count && (offset/columns) < rows )%>

		<a href="/m/<%= @now_playing[offset]['id'] %>" >
			<div class="row" style="margin-top:3px">
				<div class="col-sm-12 col-lg-12 col-md-12">
					<div class="thumbnail" style="padding:0px;background-color: #1e1e1e;">
						<%= cl_image_tag( @now_playing[offset]['poster_url']+ '.jpg', :height => 350, :width => 250,:class => "img-responsive", :crop => :fill,  :default_image => "no_poster.png",  :style => "padding-left: 0px;padding-right: 0px;") %>
						<div class="caption">
							<small  style=" color: whitesmoke; font-family: 'Roboto'"><%= truncate(@now_playing[offset]['name'], :length => 17) %></small>
						</div>
					</div>
				</div>
			</div>
		</a>
		<% offset += columns   %>

		<% end %>			
		</div>
	<% end %>
	</div>
</div>