<div id="email_preferences" class="panel panel-stylish" style="margin-bottom: 0px;">
	<form  id="emailPreferences" >
	<div class="panel-heading">
		<h3 class="panel-title" >Email preferences</h3>
	</div>
	
	<div class="panel-body" style="padding-top: 10px;">
		<div class="row col-lg-12 col-md-12">
			<div class="col-lg-6 col-md-6" >
				<h4>Social</h4><hr style="margin:2px 0px 5px">

				<label class="checkbox ">
					<input type="hidden" name="email_preference[user_id]" value="<%= @current_user['id']%>" />
					<input name="email_preference[friends_join]" type="hidden" value='0'>
	  				<input type="checkbox" <%= (@email_preferences && @email_preferences['friends_join'] == true )? 'checked' : '' %> name="email_preference[friends_join]" value='1'> Friends join <%= COMPANY_NAME %>
				</label>
				<label class="checkbox ">
					<input name="email_preference[friends_add_movie_of_your_watchlist]" type="hidden" value='0'>
	  				<input type="checkbox" <%= (@email_preferences && @email_preferences['friends_add_movie_of_your_watchlist'] == true) ? 'checked' : '' %> name="email_preference[friends_add_movie_of_your_watchlist]" value='1' > Friend adds a movie of your watchlist
				</label>
			</div>
			<div class="col-lg-6 col-md-6">
				<h4>Notifications</h4><hr style="margin:2px 0px 5px">

				<label class="checkbox ">
					<input name="email_preference[website_maintenance]" type="hidden" value='0'>
	  				<input type="checkbox" <%= (@email_preferences && @email_preferences['website_maintenance'] == true) ? 'checked' : '' %>  name="email_preference[website_maintenance]" value='1'> When <%= COMPANY_NAME %> maintenance is scheduled
				</label>

				<label class="checkbox ">
					<input name="email_preference[company_newsletters]" type="hidden" value='0'>
	  				<input type="checkbox" <%= (@email_preferences && @email_preferences['company_newsletters'] == true) ? 'checked' : '' %> name="email_preference[company_newsletters]" value='1'> <%= COMPANY_NAME %> newsletters
				</label>
				<label class="checkbox ">
					<input name="email_preference[movie_added_to_website]" type="hidden" value='0'>
	  				<input type="checkbox" <%= (@email_preferences && @email_preferences['movie_added_to_website'] == true) ? 'checked' : '' %>  name="email_preference[movie_added_to_website]" value='1'> <%= COMPANY_NAME %> adds new movie
				</label>
			</div> 
		</div><!-- row-fluid ends -->
		<div class="row col-lg-12 col-md-12">
			<div class="col-lg-6 col-md-6" >
				<h4>Personal</h4><hr style="margin:2px 0px 5px">
				<label class="checkbox ">
					<input name="email_preference[change_of_password]" type="hidden" value='0'>
	  				<input type="checkbox" <%= (@email_preferences && @email_preferences['change_of_password'] == true) ? 'checked' : '' %> name="email_preference[change_of_password]" value='1'> Change of password
				</label>
			</div>
		</div><!-- row-fluid ends -->
	</div>

	<div class="panel-footer" style="background-color: #fAfAfA;border: 1px solid #f7f7f7">
		<div class="row col-lg-12 col-md-12">
			<div class="form-actions" style="padding:7px 0px 7px 0px;">
			  	<div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-10">
			  		<button type="submit" class="btn btn-success btn-small col-lg-offset-9 col-md-offset-9" style="margin:5px">Save changes</button>
				</div>
			</div>
		</div><!-- row-fluid ends -->
	</div>
	</form>
</div>