<div class="row col-sm-10 col-sm-offset-2 hidden-md hidden-lg btn-group btn-group-lg text-center" style="margin-bottom:30px">
	<%= render 'layouts/v3_watchlist_button' %>
	<button type="button" class="btn btn-default btn-sm" data-toggle="modal" href="#theater" id="">Watchlisted by</button>
	<button type="button"  class="btn btn-default btn-sm" data-toggle="modal" href="#showtimes" id=""> Showtimes</button>
	<button type="button"  class="btn btn-default btn-sm" data-toggle="modal" href="#theater" id="theaterModeButton"> Watch trailer</button>
	
</div>
<div class="row" style="margin-left: 0px">
	<ul class="nav nav-pills">
		<% if logged_in? %>
			<li ><a href="#friend_review" data-toggle="tab" style="letter-spacing:1px; padding : 0px 10px 0px 10px">Friends review</a></li>
		<%end%>
			<li class="active"><a data-toggle="tab" href="#viewer_review" style="letter-spacing:1px; padding : 0px 10px 0px 10px">Viewers review</a></li>
			<li ><a href="#critic_review" data-toggle="tab" style="letter-spacing:1px; padding : 0px 10px 0px 10px">Critics review</a></li>
			<% if logged_in?  && (date_future?(@movie_details['release_date']) != 1)  %>
			<li class="pull-right " style="padding-right: 30px">

				<span class="rating col-lg-7 col-md-7  col-sm-7"  style="padding: 0px">
				<% 5.downto(1) do |p|%>
					<% if @my_rating != nil && @my_rating > 0 %>
						<% if p == @my_rating %>
						<span class="star rating-star read-only" style="font-size:20px"></span>
						<% else %>
						<span class="star rating-star" style="font-size:20px"></span>
						<% end %>
					<% else %>
						<span  class="star rating-star writable-star" value="<%= p %>" movie-id="<%= @movie_details['id'] %>" style="font-size:20px"></span>
					<% end %>
				<% end %>
				</span> 
				<span class="col-lg-5 col-md-5  col-sm-5" style="padding-left: 0px">

					<a class="btn nav-btn btn-lg btn-md btn-sm btn-success" <%= (@my_review == nil || @my_review['review']== nil )? '' : 'disabled' %> data-toggle="modal" href="#writeReview"><i class="icon-pencil"></i>&nbsp;Write a review</a>
				</span>
			</li>
		<% end %>
	</ul>
</div>

