<a href="#" class="btn btn-primary btn-sm btn-block" style="padding:6px" onclick = "tryFBlogin(FBLoginComplete, this)"><i id="facebook-icon" class="icon-facebook"></i>&nbsp;Sign in with Facebook</a>
<p style="text-align:center;padding-top:5px">or</p>
<form role="form" class="col-lg-12 col-md-12" style="padding:0px" id="signInForm">
	<div class="form-group" >
		<label for="exampleInputEmail1" class="sr-only">Email address</label>
		<input type="email" class="form-control" id="inputEmail" name="session[email]" email placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1" class="sr-only">Password</label>
		<input type="password" class="form-control" id="inputPassword" name="session[password]" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-success btn-sm btn-block" style="padding:6px;font-size:16px"><i class=""></i>&nbsp;Sign in</button>
</form>

