<div class="panel panel-stylish">
	<div class="panel-heading">
		<h3 class="panel-title">Show times</h3>
	</div>
	<div class="panel-body" style="padding-top: 10px;">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<% if @in_zone != nil %>
					<span id="location-city" style="font-size:15px"><i class="icon-map-marker"></i><span style="padding-left:5px"> <%= @in_zone['name']%> </span></span>
				<% else %>
					<span id="location-city" style="font-size:15px"><i class="icon-map-marker"></i><span style="padding-left:5px"> Couldn't locate you. </span></span>
				<% end %>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default btn-sm location-city dropdown-toggle" data-toggle="dropdown" >Select location<span class="caret" style="margin:2px"></span></button>
					<ul class="dropdown-menu" role="menu">
						<% temp_country  = '' %>
						<% @zones.each do |country, zones| %>
							<% if temp_country != country %>
								<% temp_country = country %>
								<li role="presentation" class="dropdown-header"><%= temp_country %></li>
							<% end %>
							<% zones.each do |zone| %>
								<li><a href="#" value="<%= zone['name'] %>" class="loader" load-data-type="showtimes" zone-id="<%= zone['id'] %>" movie-id="<%= @movie_details['id'] %>"><%= zone['name'] %></a></li>
								<% end %>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<% @showtimes %>
		<div class="row" style="margin-top:10px">
			<div id="showtimes-loading" class="hidden-xs hidden-md hidden-sm hidden-lg" style="background-color:white">
				<p class="lead" style="text-align:center"><i class="icon-spinner icon-spin"></i><span style="margin-left:10px">Loading</span></p>
			</div>
			<div class="table-responsive ">
				<table class="table table-hover showtimes-table" id="showtimes-table">
				<% if @showtimes.length > 0 %>
					<% @showtimes.each do |cinema_hall, showTimes| %>
					<tr>
						<td style="padding:0px">
							<div class="panel panel-default" style="margin-bottom:0px; border-radius: 0px; border:0px;">
								<div class="panel-heading" style="border-top-right-radius:0px;border-top-left-radius: 0px;background-color: #E0F4FD">
									<span class="col-lg-11 col-sm-11 col-md-11"><%= cinema_hall %></span>
									<span class="label label-info"><i class="icon-phone"></i></span>
								</div>
								<div class="panel-body">
									<% showTimes.each do |s| %>
									<span class="col-lg-2 label label-success" style="margin-left:10px;margin-top: 2px;"><%= s['showtime'] %></span>	
									<% end %>
								</div>
							</div>
						</td>
					</tr>
					<% end %>
				<% else %>
					<tr>
						<td style="padding:0px">
							<div class="panel panel-default" style="margin-bottom:0px; border-radius: 0px; border:0px">
								<div class="panel-body" style="border-top-right-radius:0px;border-top-left-radius: 0px;">
									<span class="col-lg-11 col-sm-11 col-md-11" style="text-align:center">No showtimes available in your region.</span>
								</div>
							</div>
						</td>
					</tr>
				<% end %>
				</table>
			</div>
			<div class="row  hidden-xs hidden-md hidden-sm hidden-lg" style="text-align:center">
				<a href="#" load-data-type="showtimes" movie-id="<%= @movie_details['id'] %>" critic-id="" class="btn btn-sm btn-default loader"><i class="icon-spin icon-spinner"></i> Load more </a>
			</div>
		</div>
	</div>
</div>

