<div class="jumbotron" style="background-image:url('http://res.cloudinary.com/haaztcbpd/image/upload/c_thumb,e_blur:1000,g_face:center,h_320,r_6,w_1024/v1379604776/<%= @movie_details['poster_url'] %>.jpg');">
	<div class="row container">
		<div class="col-md-3 col-lg-3 col-sm-3 poster-image-container" style="position:relative">
			<div  style='margin-left:15px;margin-right:15px;position:relative;height:260px;width:190px;background-image:url("<%= cl_image_path(@movie_details['poster_url']+'.png', :height => 260, :width => 190, :crop => :fill ,  :radius => 6, :default_image => "no_poster.png") %>")'>

				<div class="btn-group btn-group-justified" style="position:absolute;bottom:0px">
					<% user_rating_color = get_badge_class_name_based_on_rating(@user_average_rating) %>
					<% critic_rating_color = get_badge_class_name_based_on_rating(@critic_average_rating) %>
					<a class="btn btn-<%= user_rating_color %> btn-sm jumbotron-buttons-md jumbotron-buttons-lg " style="padding:1px;font-size:11px;opacity:0.90;">
						<div class="row">
							User rating
						</div>
						<div class="row">
							<%= (@user_average_rating == 0) ? 'NA': @user_average_rating  %>
						</div>
					</a>
					<a class="btn btn-<%= critic_rating_color %> btn-sm jumbotron-buttons-md jumbotron-buttons-lg "  style="padding:2px;font-size:11px;opacity:0.90;">
						<div class="row">
							Critic rating
						</div>
						<div class="row">
							<%= (@critic_average_rating == 0) ? 'NA': @critic_average_rating  %>
						</div>
					</a>
				</div>
			</div>
			
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9 movie-page-description-box-md movie-page-description-box-sm movie-page-description-box-lg">
			<div class="movie-page-description-box">
				<div  class="col-md-12 col-lg-12" style="padding-left: 5px;">
					<h2 style="color:whitesmoke;padding-top:0px;margin-top:10px">
						<%= @movie_details['name'] %>
						<small style="font-size:12px">
							<%= (date_future?(@movie_details['release_date']) == 1) ? 'Releases on' : 'Released on' %>
							<%=Date.strptime( @movie_details['release_date'], '%Y-%m-%d').to_date.to_formatted_s(:long)  %>
						</small>
					</h2>
				</div>
				<div  class="col-md-12  col-lg-12" style="padding-left: 5px;">
				<% if @movie_details['synopsis']  %>
					<p ><%= truncate(@movie_details['synopsis'], :length => 300 ) %>
						<% if @movie_details['synopsis'].length > 265  %>
						<button type="button" data-toggle="modal"  href="#moreMovieDescription" class="btn btn-info btn-xs">More</button></p>
						<% end %>
					<% else %>
						<p>Description not available.</p>
					<% end %>
				</div>
				<% 
					genre_array = [] 
					genre_array = get_genre_as_string_help(@movie_details) 
					if genre_array.length > 0 
				%>
				<p id="genre_list" style="font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:5px">Genres
					<%  iterator = 0 %>
					<%  genre_array.each do |g| %>
						<strong><%= g %></strong>					
						
						<% iterator+=1 %>
						<% if ( (genre_array.count ) != iterator ) %>
							<strong>,</strong>
						<% end %>
					<% end %>			
				</p>

				<% end %>

				<p style="font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:5px">Starcast
					<% if @movie_details['starcast'].length > 0 %>
						<%  iterator = 0 %>
						<%  @movie_details['starcast'].each do |md| %>							
							<% if iterator > 2 %>
								<span class="btn btn-link" id="more_starcast">More</span>
								<%  break %>
							<% else %>
								<a href="/p/<%= md['id'] %>" class="btn btn-warning btn-sm" style="padding:1px"><%= md['name'] %></a>
							<% end %>
							<% iterator+=1 %>
						<% end %>
					<% end %>
				</p>

				<p id="director" style="font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:5px">Director
			
				</p>
				<p id="playtime" style="font-size:12px;margin-top:5px;margin-bottom:5px;padding-left:5px">Playtime
			
				</p>
			</div>
			<div style="padding:5px 5px 3px 0px;margin-left: 15px;"> 
				<div  class="row" style="padding:0px 5px 5px 0px">
					<div class="col-lg-12">
						<div class="btn-group hidden-sm">
							
							<%= render 'layouts/v3_watchlist_button' %>
							<% if !logged_in? %>
								<% visibility = "hidden-xs hidden-sm hidden-md hidden-lg" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

    	$('#more_starcast').popover({
        	html: true,
        	placement: 'bottom',
        	title: 'Starcast',
        	content: '<%= escape_javascript(render "layouts/v3_starcast") %>'

    	});

</script>