<div class="tab-pane active" id="viewer_review">
	<%  if  @viewer_reviews.length > 0 %>
	<% @viewer_reviews.each do |viewer_review| %>
	<div class="media" >
		<% url = nil %>
		<% if viewer_review['fb_id'] != nil || viewer_review['fb_id'].to_s.length > 0 %>
			<% url = "http://graph.facebook.com/"+viewer_review['fb_id'].to_s+"/picture" %>
			<a class="pull-left" href="#">
				<img class="media-object img-rounded" src="<%= url %>" >
			</a>
		<% else %>
		<a class="pull-left" href="#">
		<%= cl_image_tag(  ( viewer_review['gender'] == 1 ? 'female' : 'male')+'.jpg',  :crop => :scale, :gravity => :north , :class => 'media-object img-rounded',:width => 50) %>
		</a>
		<% end %>


		<div class="media-body panel-body" style="background-color: white;border: 1px solid #FEDFDF;border-radius: 5px;padding-bottom:0px">
			<h4 class="media-heading">
				<%= viewer_review['review_title'] %>
				<small> by <%= viewer_review['name'] %></small>
			</h4>
			<% if viewer_review['review'] && viewer_review['review'].length > 0  %>
				<p style="font-size:14px;letter-spacing:1px"><%= viewer_review['review'] %></p>
			<% end %>
		</div>
	</div>
	<% end %>
	<% else %>
	<div class="jumbotron" style="margin-top:5px">
	      	<p style="text-align:center">
	      		<small>Nobody reviewed this movie yet. 
	      			<% if logged_in? %><a class="btn btn-primary btn-sm" data-toggle="modal" href="#writeReview" >write a review</a><% end %>
	      		</small>
	      	</p>
	</div>
	<% end %>
</div>