<% if @movie_details['trailer_url']!= nil && @movie_details['trailer_url'].length > 0  %>
<div class="panel panel-info" >
	<div class="panel-body" style="padding:0px;background-color: whitesmoke">
		<iframe height="300" style="width:100%" src="<%= @movie_details['trailer_url'] %>&showinfo=0&branding=0&hd=1" frameborder="0" ></iframe>
		<button class="btn btn-block btn-primary" data-toggle="modal" href="#theater" id="theaterModeButton"> Watch in theater mode</button>
	</div>
</div>
<% end %>