<table class="table table-condensed col-lg-12" style="color: #4e4e4e">
	<%  @movie_details['starcast'].each do |md| %>
		<tr class="col-lg-12" style="vertical-align:">
			<td class="col-lg-2"><%= cl_image_tag( md['name']+'.jpg', :height => 40, :width => 40, :radius => 20,:class => 'img-polaroid',:crop => :thumb , :default_image => "no-critic-pic.png", :gravity => :face ) %></td>
			<td class="col-lg-10"  style="vertical-align:middle"><a href="/p/<%= md['id'] %>" class="btn btn-link" style="padding:1px"><%= md['name'] %></a></td>
		</tr>
	<% end %>
</table>