<div class="container" style="margin-top: 10px">
	<div class="col-md-8 col-lg-8 col-sm-12" style="padding:0px;">
		<%= render 'layouts/v3_movie_jumbotron' %>
		<%= render 'layouts/v3_small_screen_movie_buttons' %>

		<div class="tab-content" style="padding-top:5px">
		<% if logged_in? %>
			<%= render 'layouts/v3_friend_review' %>
		<%end%>
		<%= render 'layouts/v3_viewer_review' %>
		<%= render 'layouts/v3_critic_review' %>
		</div>
	</div>
	<div class=" col-md-4 col-lg-4 hidden-sm" style="border:0px;">
		<%= render 'layouts/v3_trailer' %>
		<%= render 'layouts/v3_watchlisted_by' %>
		<%= render 'layouts/v3_showtimes' %>
	</div>
</div>
<% if logged_in? && (@my_review == nil || @my_review['review'] == nil) && (date_future?(@movie_details['release_date']) != 1) %>
<%= render 'layouts/v3_write_review' %>
<% end %>
<%= render 'layouts/v3_more_movie_description' %>
<% if @movie_details['trailer_url']!= nil &&  @movie_details['trailer_url'].length > 0  %>
<%= render 'layouts/v3_theater' %>
<% end %>
