<div class="well well-sm dropdown" style="background-color:white; padding-right:0px; padding-left:0px">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="dropdown-header">EXPLORE</li>
		<li role="presentation" class="divider"> </li>
		<li ><a href="#browse" role="menuitem" class="square-edges" data-toggle="tab" style="height:auto;line-height:15px;padding:5px 20px 5px 20px">Browse</a></li>
		<li class="active"><a class="square-edges" href="#recents" data-toggle="tab" style="height:auto;line-height:15px;padding:5px 20px 5px 20px;">Happening</a></li>
		<li role="presentation" class="dropdown-header" style="margin-top:20px">TOP RATED</li>
		<li role="presentation" class="divider" style="margin-bottom:0px"> </li>
		<li >
			<div class="table-responsive">
				<table class="table table-condensed" >
					<% @ratings_of_top_movies.each do |rtm| %>
					<tr >
						<td style="border-width:0px;padding:5px 7px 5px 15px;">
							<span class="badge" style="font-weight:400"> <%= rtm['avg_rating'].to_f.round(1) %></span>
							<a href="/m/<%= @top_rated_movies[rtm['movie_id'].to_i]['id'] %>" style="font-size: 12px"><%= truncate( @top_rated_movies[rtm['movie_id'].to_i]['name'], :length => 18 )%></a>
						</td>
					</tr>
					<% end %>
				</table>
			</div>
		</li>
		<li role="presentation" class="dropdown-header" style="margin-top:20px">MORE</li>
		<li role="presentation" class="divider"> </li>
		<li >
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1">
					<ul class="list-unstyled">
						<li><a href="/about" class="btn btn-link" style="padding:0px">About</a></li>
						<li><a class="btn btn-link" style="padding:0px">Help</a></li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6">
					<ul class="list-unstyled">
						<li><a class="btn btn-link" style="padding:0px" href="/about#apps">Apps</a></li>
						<li><a class="btn btn-link" style="padding:0px" href="/about#support">Contact</a></li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>
<% @top_rated_movies %>
<!-- <div class="well well-sm dropdown" style="background-color:white; padding-right:0px; padding-left:0px">
	<span class="col-lg-4 col-md-4">
		<div class="thumbnail">

		</div>
	</span>
	<span class="col-lg-4 col-md-4">BYE</span>
	<span class="col-lg-4 col-md-4">TATA</span>
</div> -->

