<form role="form" class="col-lg-12 col-md-12" style="padding:0px" id="signUpForm">
	<div class="alert alert-success hidden-xs hidden-sm hidden-md hidden-lg">Success</div>
	<div class="alert alert-danger hidden-xs hidden-sm hidden-md hidden-lg">Failure</div>
	<div class="form-group" >
		<label for="inputFirstName" class="sr-only">First name</label>
		<input type="text" name="registration[fname]" class="form-control" id="inputFirstName" placeholder="First name" required="required">
	</div>
	<div class="form-group" style="margin-bottom: 0px;">
		<label for="inputLastName" class="sr-only">Last name</label>
		<input type="text" name="registration[lname]" class="form-control" id="inputLastName" placeholder="Last name" required="required">
	</div>
	<div class="col-lg-6">
		<div class="radio">
			<label>
				<input type="radio" name="registration[gender]" value="female" checked>
				Female
			</label>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="radio" >
			<label>
				<input type="radio" name="registration[gender]" value="male">
				Male
			</label>
		</div>
	</div>
	<div class="form-group" >
		<label for="exampleInputEmail1" class="sr-only">Email address</label>
		<input type="text" name="registration[email]" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required="required">
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1" class="sr-only">Password</label>
		<input type="password" name="registration[password]" class="form-control" id="exampleInputPassword1" placeholder="Password" required="required">
	</div>
	<div class="form-group">
		<label for="inputConfirmPassword" class="sr-only">Confirm password</label>
		<input type="password" class="form-control" id="inputConfirmPassword" name="registration[password_confirmation]" placeholder="Confirm password" required="required">
	</div>
	<button  class="btn btn-success btn-sm btn-block" style="padding:6px;font-size:16px"><i class=""></i>&nbsp;Sign up</button>
</form>

