 <% iterator = 1 %>
 <% while iterator <= @number_of_full_stars  %>
         <i class="icon-star icon-4" style="color:red"></i>
         <% iterator = iterator + 1 %>
 <% end%>

 <% if @half_star_exists %>
           <i class="icon-star-half-full icon-4" style="color:red"></i>
 <% end %>