<div id="watchlist" class="panel panel-stylish" style="margin-top: 20px;margin-bottom: 0px;background-color: white">

	<div class="panel-heading">
		<h3 class="panel-title" >Watchlist</h3>
	</div>
	<div class="panel-body">
	<% columns = 6 %>
	<% rows = (@my_watchlist.count / columns) + 1 %>
	<% rows %>
	<% @my_watchlist.count %>

	<% (0..rows).each do |r| %>

		<div class="row">
		<% (0..columns-1).each do |c| %>
			<% if @my_watchlist[c + r*columns] %>
			<div class="col-sm-4 col-md-2" style="margin-bottom:10px">
				<div class="thumbnail" style="padding:0px">

					<img style="margin: 0px" class="img-responsive" src="<%= cl_image_path( @my_watchlist[c + r*columns]['poster_url']+ '.jpg', :height => 210, :width => 170,:crop => :fill,  :default_image => "no_poster.png") %>" alt="RajKumar">
					<div class="caption" style="padding: 0px 4px 0px 4px">
						<small ><%= @my_watchlist[c + r*columns]['name'] %></small>
						<p style="line-height: 5px;margin: 8px 0px 8px 0px">
							<a href="#" class="btn btn-danger btn-xs remove_movie btn-block" role="button" id="rm_<%=  @my_watchlist[c + r*columns]['id'] %>" movie-id="<%=  @my_watchlist[c + r*columns]['id'] %>">Remove</a> 
							<a href="#" class="btn btn-success btn-xs btn-block" role="button" disabled>Watched</a>
						</p>

					</div>
				</div>
			</div>
			<% end %>
		<% end %>
		</div>
	<% end %>
	</div>

</div>

							