<div class="panel " style="border:0px;opacity:0.9;">
	<div class="panel-heading" style="background-color:black;border-bottom-width:1px;border-color:black;opacity:0.7;">
		<h2 class="panel-title" style="color:whitesmoke;font-family:'Roboto'">Opening</h2>
	</div>
	<div class="panel-body" style="background-color:white;opacity:0.8;padding-top:6px;padding-bottom:6px;text-align:justify">
		<ul class="nav nav-pills" id="opening" >
				<li class="active"><a href="#this_week" data-toggle="tab" style="height:auto;line-height:15px;padding: 4px">Latest releases</a></li>
				<li><a href="#previous_week" data-toggle="tab" style="height:auto;line-height:15px;padding: 4px">Previous week</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="this_week">
				<table class="table table-condensed" style="margin-top: 4px">
					<tr>
						<th style="font-size: 11px">Movie</th>
						<th style="font-size: 11px" class="text-center">Viewer rating</th>
						<th style="font-size: 11px" class="text-center">Critic rating</th>
					</tr>								
					<% @opening_movies.each do |movie|%>
					<%  if movie['release_date'].to_datetime > 7.days.ago %>
					<tr>
						<td><a href="/m/<%= movie['id'] %>"><%= movie['name'] %></a></td>
						<td><span class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 label label-default"><%= @released_movie_rating[movie['id'].to_s]['user']['rating'] %></span><span class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1 label label-default"><%= @released_movie_rating[movie['id'].to_s]['user']['count'] %> viewers</span></td>
						<td><span class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 label label-default"><%= @released_movie_rating[movie['id'].to_s]['critic']['rating'] %></span><span class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1 label label-default"><%= @released_movie_rating[movie['id'].to_s]['critic']['count'] %> critics</span></td>
					</tr>
					<% end %>
					<% end %>
				</table>
			</div>
			<div class="tab-pane" id="previous_week">
				<table class="table table-condensed" style="margin-top: 4px">
					<tr>
						<th style="font-size: 11px">Movie</th>
						<th style="font-size: 11px" class="text-center">Viewer rating</th>
						<th style="font-size: 11px" class="text-center">Critic rating</th>
					</tr>
					<% @opening_movies.each do |movie|%>
					<% if movie['release_date'].to_datetime < 7.days.ago && movie['release_date'].to_datetime > 13.days.ago %>
					<tr>
						<td><a href="/m/<%= movie['id'] %>"><%= movie['name'] %></a></td>
						<td>
							<span class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 label label-default">
								<%= @released_movie_rating[movie['id'].to_s]['user']['rating'] %>
							</span>
							<span class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1 label label-default">
							<%= @released_movie_rating[movie['id'].to_s]['user']['count'] %> 
								viewers
							</span>
						</td>
						<td>
							<span class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-3 col-xs-offset-1 label label-default"><%= @released_movie_rating[movie['id'].to_s]['critic']['rating'] %></span><span class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-7 col-xs-offset-1 label label-default">
							<%= @released_movie_rating[movie['id'].to_s]['critic']['count'] %> critics</span>
						</td>
					</tr>
					<% end %>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>