<% text = "Add to watchlist" %>
<% class_name = "btn-default add_movie" %>
<% icon = "icon-plus-sign" %>

<% if @in_watchlist %>
	<% text = "Remove from watchlist" %>
	<% class_name = "btn-danger remove_movie" %>
	<% icon = "icon-remove-sign" %>
<% end %>
<% if !logged_in? %>
	<% visibility = "hidden-xs hidden-sm hidden-md hidden-lg" %>
<% end %>
<button type="button"  class="btn <%= class_name %> <%= visibility %> btn-sm" movie-id="<%= @movie_details['id'] %>" ><i class="<%= icon %>" style="color: #5CB85C;"></i><span style="padding-left:2px"><%= text %></span></button>
