<% if date_future?(@movie_details['release_date']) == 1 %>
	<% released_yet = 0 %>
<% else %>
	<% released_yet = 1 %>
<% end %> 

<div class="modal fade" id="writeReview" tabindex="-1" role="dialog" aria-labelledby="writeReviewLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><%= @movie_details['name'] %></h4>
			</div>
			<form class="form-horizontal" id="postReviewForm" style="margin-bottom: 0px;" onkeyup="reviewFormValidator(this)">
				<input type="hidden" name="viewer_review[movie_id]" value="<%= @movie_details['id'] %>">
				<input type="hidden" name="movieName" value="<%= @movie_details['name'] %>">
				<div class="modal-body" style="padding:0px">
					<div class="col-lg-12" style="padding:0px;">
	    					<input type="text" id="viewer_review_review_title" name="viewer_review[review_title]" class="form-control" style="border:0!important; background:none!important;" <%if released_yet == 0%>disabled<% end %> placeholder="Review title (required)">
	  				</div>
					<textarea id="viewer_review_review" name="viewer_review[review]" class="form-control" <%if released_yet == 0%>disabled<% end %> rows="8" style="resize: none;border:0!important; background:none!important;" placeholder="Write a review with no more than 2048 characters (required)"></textarea>
				</div>
				<div class="modal-footer" style="margin-top:0px;padding:10px">
					<span class="col-lg-4 col-md-4 col-sm-4">
						<input type="checkbox" id="radio-tag-for-post-on-facebook" name="postOnFacebook" value="1"> Share on Facebook
					</span>
					<span class="col-lg-8 col-md-8 col-sm-8">
	                        		<button id="viewer_review_submit_button" type="submit" class="btn btn-primary" disabled ><i class=""></i>&nbsp;Post review</button>
					</span>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
