<div class="tab-pane" id="friend_review">
	<% if (@friends_reviews && @friends_reviews.length > 0) %>
	<% @friends_reviews.each do |f_review| %>
	<div class="media" >
		<% url = nil %>
		<% if f_review['fb_id'] != nil || f_review['fb_id'].to_s.length > 0 %>
			<% url = "http://graph.facebook.com/"+f_review['fb_id'].to_s+"/picture" %>
		<% else %>
			<%= cl_image_tag(  ( f_review['gender'] == 1 ? 'female' : 'male')+'.jpg',  :crop => :scale, :gravity => :north , :class => 'img-circle',:style => 'margin-top:10px;padding:1px;z-index:1',:width => 30) %>
		<% end %>

		<a class="pull-left" href="#">
			<img class="media-object img-rounded" src="<%= url %>" alt="...">
		</a>
		<div class="media-body panel-body" style="background-color: white;border: 1px solid #FEDFDF;border-radius: 5px;padding-bottom:0px">
			<h4 class="media-heading"><%= f_review['review_title'] %><small> by <%= f_review['viewer_name'] %></small></h4>
			<% if f_review['review'] && f_review['review'].length > 0  %>
			  <p style="font-size:14px;letter-spacing:1px"><%= f_review['review'] %></p>
			<% end %>
		</div>
	</div>
	<% end %>
	<% else %>
	<div class="jumbotron" style="margin-top:5px">
	      <p style="text-align:center"><small> 
		<% if @my_review == nil || @my_review['review'] == nil  %>
	      	Be the first to <a class="btn btn-primary btn-sm" data-toggle="modal" href="#writeReview" >write a review</a>
	      	<% else %>
	      	You have written a review for this movie. Thank you for doing so.
	      	<% end %>
	      </small>
		</p>
	</div>

	<% end %>
</div>