
<nav class="navbar navbar-default navbar-filmyfunday navbar-inverse" role="navigation" id="site-header" style="z-index:1001;margin-bottom: 0px;">
	<div class="container" style="padding : 5px;">
		<div class="navbar-header" style="margin-right: 20px;">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand sprite-logo" href="/" style="font-family:'LogoFont';width:180px;padding-left:55px;margin-left:0px;color: white;font-size:25px;">FilmyFunday</a>
		</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse" >
		<form class="navbar-form navbar-left col-lg-6 col-md-6 col-sm-6 col-xs-6" role="search" >
			<div class="form-group col-lg-7 col-xs-7 col-md-7" style="padding-left:0px;padding-right:6px">
				<input type="text" class="typeahead form-control" placeholder="Search" data-provide="typeahead" data-items="4">
			</div>
			<button type="submit" class="btn btn-success"><i class="icon-search"></i>&nbsp;SEARCH</button>
		</form>
		<% if !logged_in? %>
		<button id="sign_in" class="btn btn-success navbar-btn navbar-right" style="margin-left:5px; margin-right:5px;">SIGN IN</button>
		<button id="sign_up" class="btn btn-success navbar-btn navbar-right" style="margin-left:5px; margin-right:5px">SIGN UP</button>
		<% else %>
		<!-- Single button -->
		<div class="btn-group navbar-right">
			<button type="button" class="btn btn-success navbar-btn"><%= @current_user['fname']%></button>
			<button type="button" class="btn btn-success dropdown-toggle navbar-btn" data-toggle="dropdown">
				<i class="icon-cog"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/settings">Settings</a></li>
				<li class="divider"></li>
				<li><a href="#" id="signout">Sign out</a></li>
			</ul>
		</div>
		<% end %>
	</div><!-- /.navbar-collapse -->
	</div>
</nav>
<div class="alert alert-success alert-dismissable form-success-alert hidden-xs hidden-sm hidden-md hidden-lg" >
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Congratulations!!</strong> You have successfully registered with FilmyFunday. Check your e-mail for confirmation email.
</div>

<div class="alert alert-danger alert-dismissable form-failure-alert hidden-xs hidden-sm hidden-md hidden-lg" >
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Hmmmm!!</strong> Looks like you have following errors.
	<ul style="text-align:left"></ul>
</div>
<div class="alert alert-danger fade in hidden-xs hidden-sm hidden-md hidden-lg facebook-login-fail-alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>Oh snap!</h4>
        <p>Please try again after some time.</p>
</div>

<script type="text/javascript">
	$('input').typeahead([
		{
			name: 'movies',
			header : 'MOVIES',
			valueKey : 'name',
			template: ['<div id="suggested_movie_item_template" class="ff-suggestion">',
				'<a href="/m/{{id}}">',
				'<div class="row" >',
				'<span class="col-lg-2 col-sm-2 col-md-2">',
				'<img class="img-rounded" src="http://res.cloudinary.com/haaztcbpd/image/upload/c_fill,d_no-critic-pic.png,h_40,r_5,w_40/{{poster_url}}.png" />',
				'</span>',
				'<span>',
				'<p class="ff-suggestion-body">{{name}}</p>',
				'</span>',
				'</div>',
				'</a></div>'].join(''),
			remote: {
				url: '/search/movies/%QUERY.json',
				filter: function(parsedResponse) {
					var dataset = [];
					for(i = 0; i < parsedResponse.length; i++) {
						dataset.push({
							name: parsedResponse[i].name,
							release_date: parsedResponse[i].release_date,
							id: parsedResponse[i].id,
							poster_url: parsedResponse[i].poster_url,
							type: 1
						});
					}
					return dataset;
				},
			},
			engine: Hogan
		},
		{
			name: 'personalities',
			header : 'PERSONALITIES',
			valueKey : 'name',
			template: ['<div id="suggested_person_item_template" class="ff-suggestion">',
				'<a href="/p/{{id}}">',
				'<div class="row" >',
				'<span class="col-lg-2 col-sm-2 col-md-2">',
				'<img class="img-rounded" src="http://res.cloudinary.com/haaztcbpd/image/upload/c_fill,d_no-critic-pic.png,h_40,r_5,w_40/{{name}}.png" />',
				'</span>',
				'<span>',
				'<p class="ff-suggestion-body">{{name}}</p>',
				'</span>',
				'</div>',
				'</a></div>'].join(''),
			remote: {
				url: '/search/personalities/%QUERY.json',
				filter: function(parsedResponse) {
					var dataset = [];
					for(i = 0; i < parsedResponse.length; i++) {
						dataset.push({
							name: parsedResponse[i].name,
							release_date: parsedResponse[i].release_date,
							id: parsedResponse[i].id,
							poster_url: parsedResponse[i].poster_url,
							type: 2
						});
					}
					return dataset;
				},
			},
			engine: Hogan
		}
	]).bind('typeahead:selected', function (obj, datum) {
		var url = '';
		if (datum.type == 1) {
			url='/m/'+datum.id;
		}else if (datum.type == 2) {
			url='/p/'+datum.id;
		};
		if (url.length != 0 ) {
			window.open(url,'_top');
		}
	});
	<% if !logged_in? %>
	$('#sign_in').popover({
        	html: true,
        	placement: 'bottom',
        	title: 'Sign in',
        	content: '<%= escape_javascript(render "layouts/v3_login") %>'

    	}).on('show.bs.popover', function () {
  		// do something…
  		$('#sign_up').popover('hide')
	}).on('shown.bs.popover', function () {
		var signInOptions = {
			target:        	null,   // target element(s) to be updated with server response 
			beforeSubmit:  	beforeSignIn,  // pre-submit callback 
			success:       	afterSignIn,  // post-submit callback 
			url:       	'/sessions',
			type: 		'post',
			dataType: 	'json',
			resetForm: 	false    		
		}
		$('#signInForm').ajaxForm(signInOptions);
	});

    	$('#sign_up').popover({
        	html: true,
        	placement: 'bottom',
        	title: 'Sign up',
        	content: '<%= escape_javascript(render "layouts/v3_register") %>'

    	}).on('show.bs.popover', function () {
  		// do something…
  		$('#sign_in').popover('hide');
	}).on('shown.bs.popover', function () {
		var signUpOptions = {
			target:        	null,   // target element(s) to be updated with server response 
			beforeSubmit:  	beforeSignUp,  // pre-submit callback 
			success:       	afterSignUp,  // post-submit callback 
			url:       	'/registrations',
			type: 		'post',
			dataType: 	'json',
			resetForm: 	false    		
		}
		$('#signUpForm').ajaxForm(signUpOptions);
	});

    	<% end %>
</script>
