<!DOCTYPE html>
<html>
<head>
  <title><%= COMPANY_NAME %></title>
  <%= favicon_link_tag "/favicon.ico?1" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <script type="text/javascript">

  function isLoggedIn () {
    return <%=  logged_in? %>;
  }
  
  function getFullName() {
        return '<%=  fullname %>';
  }

  function getFacebookId() {
        return '<%=  facebook_id %>';
  }

  function getEmail() {
        return '<%=  email %>';
  }
  </script>

  <script type="text/javascript">
        // Include the UserVoice JavaScript SDK (only needed once on a page)
        UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/AcTtVcOFZjIHyY8UvXehpQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

        // Set colors
        UserVoice.push(['set', {
          accent_color: '#448dd6',
          trigger_color: 'white',
          trigger_background_color: 'rgba(46, 49, 51, 0.6)'
        }]);

        // Identify the user and pass traits
        // To enable, replace sample data with actual user traits and uncomment the line
        UserVoice.push(['identify', {
                email:        getEmail(), // User’s email address
                name:         getFullName(), // User’s real name
        }]);

        // Add default trigger to the bottom-right corner of the window:
        UserVoice.push(['addTrigger', { mode: 'satisfaction', trigger_position: 'bottom-left' }]);

        // Or, use your own custom trigger:
        //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

        // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
        UserVoice.push(['autoprompt', {}]);
</script>
  <%= csrf_meta_tag %>
</head>
<body style="background-color: #F2F2F2">

        <%= render 'layouts/social' %>
        <%= yield %>
        

  <div id="fb-root" ></div>
  <script>
  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '510183792369210', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  };



  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

  </script> 



  <div id="fb-root"></div>

  <script  type="text/javascript">

$('#loginRequired').popover({ html : true });

$( "#inputReleaseDate" ).datepicker();

/* attach a submit handler to the form */
$("#registration_form").submit(function(event) {

  /* stop form from submitting normally */
  event.preventDefault();

  /* get some values from elements on the page: */
  var $form = $( this ),

  url = $form.attr( 'action' );

  /* Send the data using post */
  var posting = $.post( url, $('#registration_form').serialize() );

  /* Put the results in a div */
  posting.done(function( data ) {
    //alert(data);
  });

  $('#login').modal('hide');
});
        <%= render 'layouts/footer' %>

</script>

</body>
</html>
